.container_edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 25vw;
  min-height: 40vh;
  margin: 10vh auto;
  padding: 10px;
  background-color: grey;
}

.container_edit form {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container_edit form input {
  padding: 10px;
  border-radius: 10px;
}
.subtitle {
  display: block;
  font-size: 1em;
  color: white;
}

.bio {
  width: 100%;
}

.profile_image {
  max-width: 150px;
  border-radius: 100px;
}

#editprofile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .container_edit {
    width: 90vw;
    margin: 10px auto;
  }

  input[type="submit"] {
    width: 70%;
    margin: 5px;
  }

  #editprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
